@font-face {
    font-family: 'SansitaOneRegular';
    src: url('../../fonts/SansitaOne-webfont.eot');
    src: url('../../fonts/SansitaOne-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/SansitaOne-webfont.woff') format('woff'),
         url('../../fonts/SansitaOne-webfont.ttf') format('truetype'),
         url('../../fonts/SansitaOne-webfont.svg#SansitaOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'AirstreamRegular';
    src: url('../../fonts/Airstream-webfont.eot');
    src: url('../../fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Airstream-webfont.woff') format('woff'),
         url('../../fonts/Airstream-webfont.ttf') format('truetype'),
         url('../../fonts/Airstream-webfont.svg#AirstreamRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'IndubitablyRegular';
    src: url('../../fonts/INDUBITA-webfont.eot');
    src: url('../../fonts/INDUBITA-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/INDUBITA-webfont.woff') format('woff'),
         url('../../fonts/INDUBITA-webfont.ttf') format('truetype'),
         url('../../fonts/INDUBITA-webfont.svg#IndubitablyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html {
	background: #fff9c9 url(../../imgs/Second_Moraine_split.jpg) no-repeat fixed 50% -2px;
	
}

body {
	width: 952px;
	margin: auto;
	background-color: #fffcee;
	background: rgba(256,256,256,.7) repeat-x fixed;
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	font-size: 16px;
	border-right: 1px solid #2f373c;
	border-left: 1px solid #2f373c;
	border-bottom: 1px solid #2f373c;
	
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
	padding: .5em 0;
	color: #a82224;
}

h1, h2, h3, h4, h5, h6 {
	
}

/*h1, h2, h3, h4, h5, h6 {
	font-family: 'AirstreamRegular';
}*/

/*h1, h2, h3, h4, h5, h6 {
	font-family: 'IndubitablyRegular';
}*/

h1 {
	font-size:5em;
	font-family: 'SansitaOneRegular';
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

p {
	padding: .5em 0;
	
	
}

.header {
	padding: 20px;
	background-color: #4b5b58;
	opacity: 1;
	margin: -50px 0 0 0;
}

.about .about, .main .main, .browse .browse, .search .search, .map .map {
    background-color: #a82224;
    }
    
.header .title {
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	border: 4px solid #30373d;
	background: #a6be9e url(../../imgs/headerbg3.png) no-repeat -10px 165px;
	font-family: Georgia, "Times New Roman", Times, serif;
	z-index: 3;
	position: relative;
}

.header h1{
	margin: 0;
	padding-bottom: 0px;
}

.header h2 {
	font-size: 2em;
	margin: 5px;
	padding: 0 0 10px 0;
	color: #2f373c;
	text-shadow: 1px 1px 1px #fff;
	font-weight: normal;
	font-style: normal;
}

.header h1 a {
	text-decoration: none;
	color: #a82224;
	text-shadow: 2px 2px 2px #fff;
 	-webkit-text-stroke: 1px #fff; /* stroke color and weight */
 	text-stroke: 1px #fff; /* stroke color and weight */
 		font-weight: normal;
	font-style: normal;
}

.navigation {
	margin:  6px 0 0 30px;
	z-index: 2;
	position: relative;
}

.navigation li {
	display: inline;
	list-style-type: none;

}

.navigation li a {
	background-color: #30373d;
	padding: .8em .5em .5em .5em;
	text-decoration: none;
	color:  #fff;
	
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;	
	-moz-border-radius-bottomright: 5px;

	
	
}

.section {
	padding: 20px;
	border-top: 3px solid #a6be9e;
}

.bibliography {
	border: 1px solid #b1b1b1;
	padding: 5px 20px;
}

.bibliography p {
	padding: .2em 0;
}

.footer {
	padding: 20px;
	background-color: #e7dfaa;
	border-top: 7px double #a6be9e;
	text-align: center;
	overflow: auto;
}

img.right {
	float: right;
}

.footer p {
	text-align: right;
}


.browsetypes {
	margin:  10px 0 20px 0px;
}

.browsetypes li {
	display: inline;
	list-style-type: none;
}

.browsetypes li a {
	background-color: #fff7c6;
	padding: .5em;
	text-decoration: none;
	color: #30373d;
	display: inline;
	border: 1px solid #4b5b58;
}

.browsetypes li a:hover {
	background-color: #a6be9e;

}

.browsetypes .selected {
	background-color: #a6be9e;
	
}


 .browsesubgroup {
	margin: 0 0 0 0;
	padding: 10px 0 0 0;
	list-style: none;
}

 .browsesubgroup li {
 /*border: solid 1px #000;*/
}

 .browsesubgroup li a{
	font-weight: bold;
}

ul {
	list-style-type: square;

	margin: 0;
	list-style-position: inside;
}

/*li {
	color: #444;
	
}*/

ul.searchresults {
	color: #a6be9e;
}

.searchresults {
	
}

.main .section p {
	font-size: 1.2em;
	line-height: 1.4;
}

.map .section p {

	clear: both;
	padding-bottom: 30px;
	overflow: auto;
}

.map .section p img {
	
	float: left;
	margin: 0px 30px 10px 0;
	border: 2px solid #30373d;
}



